body {
    font-family: 'Playfair Display', serif;
    background-color: rgb(242, 237, 228);
}

header, main {
    width: 900px;
    margin: 40px auto 0 auto;
}


.logo{
    display: inline-block;
    width: 320px;
}

.logo > h1 {
    font-size: 40px;    
    border-bottom: 1px solid black;
    margin: 0;
    padding: 0;
}
.logo > h2 {
    font-size: 18px;
    letter-spacing: 8px;
    margin: 0;
    margin-top: 5px;
    padding: 0;
    font-style: italic;
    color: rgb(185,178,165);
}

/* jobbra igazitva */
.menu-container{
     text-align: right;
    display: inline-block;
    vertical-align: bottom;
    float: right;
}

.menu {
    list-style: none;
}
.menu-item {
    display: inline-block;
    margin: 0 15px;
    padding: 0;
}
.menu-item:nth-child(1) {
    border-bottom: 4px solid red;
}

.menu-item:nth-child(2) {
    border-bottom: 4px solid lightblue;
}

.menu-item:nth-child(3) {
    border-bottom: 4px solid plum;
}

.menu-item:nth-child(4) {
    border-bottom: 4px solid green
}

.menu-item:nth-child(5) {
    border-bottom: 4px solid yellow;
}

.menu-item a {
    text-decoration: none;
    color: black;
}

.menu-item:hover {
    border-bottom: 4px solid black;
}

.main-article {
    margin-top: 40px;
}

.main-article-content > h1 {
    background-color: rgba(0, 0, 0, 0.767);
    font-size: 35px;
    padding: 15px 15px 5px 15px;
    margin: 0;
    float: left;
}

.main-article-content > h2 {
    background-color: rgba(0, 0, 0, 0.767);
    color: white;
    line-height: 1.5;
    padding: 10px 180px 15px 15px;
    margin: 0;
    font-size: 15px;
    float: left;
}
.main-article-content p {
    width: 700px;
}

.crop {
    height: 500px;
    overflow: hidden;
}

.main-article-image {
    width: 100%;
}

/* positioning!!!!! */
.main-article {
     position: relative;
}

.main-article-content {
     position: absolute;
    top: 300px;
    margin: 15px;
    color: white;
    font-weight: bold;
}

.tag a{
    color: white;
    padding: 5px;
}

.tag-politics a {
    background-color: red;
    text-decoration: none;
}

.tag-sports a {
    background-color: green;
    text-decoration: none;
    margin-left: 10px;
    font-weight: bold;
}

.tag-politics {
     margin-bottom: 8px;
}

.continue-to-article{
    background-color: blue;
    color: white;
    margin-top: -32px;
    text-align: right;
    float: right;
    padding: 5px;
    font-style: italic;
    margin-right: 247px;
}

.continue-to-article a {
    color: white;
    text-decoration: none;
}

.article-half-width {
    margin-top: 20px;
}

.half-width-crop{
    height: 200px;
    overflow: hidden;
    margin: 0 10px;
    margin-top: 10px;
}

.article-half-width .tag{
    margin-top: -25px;
}

.article-half-width h1, 
.article-half-width h2 {
    padding: 10px;
    padding-bottom: 0;
    margin: 0;
}

.article-half-width h2 {
    font-size: 15px;
    margin-top: 5px;
    padding-bottom: 10px;
    font-weight: bold;
}

.article-half-width {
    width: 45%;
    background-color: #e2e2e2;
}

/* jobra */
.article-right {
    float: right;
}

/* balra */
.article-left {
    float: left;
}
